

.opcional {
    background-color: chartreuse;
    color: black
}

.obrigatorio {
    color: rgb(218, 208, 208);
    background-color: rgb(196, 62, 62);
}

.calc-button {

    width: 100px;
    height: 39px;
    position: relative;
    top: 10px;
    left: 4px;
    background: #7EBBEE;
    border-radius: 100px;
}

body {
    text-align: center;
   
    border-radius: 30px;
    box-shadow: 2px 2px 2px;
    height: 300px;
    width: 900px;
    background-color: aquamarine;
    transform: scale(1.0);
   
    margin: auto;

    h1 {
        text-align: center;
        font-size: 25px;
    }
}
